<!--Progress report on projects-->
<div class="container" *ngFor="let project of currentProjects">
  <mat-card class="cardSizing">
    <mat-card-header>
        <mat-card-title>{{project.clientInformation.company}}</mat-card-title>
        <mat-card-subtitle>{{project.clientInformation.email}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="columns">

          <!--Job Details-->
          <div class="column">
            <label class="subtitle">Platforms:
              <span>
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="primary">Mobile</mat-chip>
                  <mat-chip color="primary" selected>Web</mat-chip>
                  <mat-chip color="primary" selected>IoT</mat-chip>
                </mat-chip-list>
              </span>
            </label>
            <br>
            <label class="subtitle">Industry: {{project.projectDetails.industry}}</label>

            <br>
            <br>

            <h3 class="subtitle"><b> features</b></h3>

            <!--Feature list-->
            <div *ngFor="let features of project.projectDetails.featuresRequested">

               <mat-checkbox [checked]="features.checked" (ngmodel)="features.checked" (change)="setValue(features)"> {{features.feature}}</mat-checkbox>
               <br>
               <br>


            </div>

               <br>
               <br>

               <button (click)="openPDFFile()" mat-raised-button color="primary">Design Specification</button>

          </div>

          <!--Progress bar and project data input area-->
          <div class="column">
            <h3 class="subtitle">Project progress</h3>
            <mat-progress-bar mode="determinate" value={{getProjectCompletionPercentage()}}></mat-progress-bar>

            <br>
            <br>

            <!--Development cycle-->
            <h3 class="subtitle"><b>Development cycle sheet</b></h3>

            <mat-radio-group *ngFor="let stage of stages" [(ngModel)]="localStageLabel" aria-label="Select an option">
              <mat-radio-button [value]="stage">{{stage}}</mat-radio-button>
              <br>
              <br>
            </mat-radio-group>

            <br>
            <br>

            <button (click)="deleteProject()" mat-raised-button color="warn">Delete Project</button>

          </div>
        </div>
    </mat-card-content>

  </mat-card>
</div>
