<div id="boxWindow" style="background-color: #2C3E7B;">
  <h1 class="title is-1 has-text-centered" style="color: white;">Our technology stack</h1>

  <div class="columns">
    <!--Framework stack card-->
    <div class="column">
      <div class="box" id="stackCard">
        <h3 class="is-1 has-text-centered">Framework stack</h3>

        <!--Horizontal line-->
        <hr id="dividingLine">


        <!--Stack content-->
        <div class="columns">

          <!--Row 1, column 1-->
          <div class="column">
            <img id="imageSizing" src="/assets/angularjsdevIcon.png" alt="we develop using the angular framework"/>
            Angular
          </div>


          <div class="column">
            <img id="imageSizing" src="/assets/xamarindevIcon.png" alt="we develop using the xamarin framework"/>
             Xamarin
          </div>

        </div>

      </div>
    </div>

    <!--Backend stack card-->
    <div class="column">
      <div class="box" id="stackCard">
        <h3 class="is-1 has-text-centered">Backend stack</h3>

        <!--horizontal line-->
        <hr id="dividingLine">

        <!--Stack content-->
        <div class="content">

          <!--Row 1-->
          <div class="columns">
            <!--Row 1, column 1-->
            <div class="column">
              <!--Mongo-->
              <img id="imageSizing" src="/assets/mongodbdevIcon.png" alt="Mongodb developers"/>
               Mongodb
            </div>


            <!--Row 1, column 2-->
            <div class="column">
              <!--azure-->
              <img id="imageSizing" src="/assets/azuredevIcon.png" alt="Azure developers"/>
               Azure
            </div>

          </div>

          <!--Row 2-->
          <div class="columns">
            <!--Row 2, column 1-->
            <div class="column">
              <!--Heroku-->
              <img id="imageSizing" src="/assets/herokudevIcon.png" alt="Heroku developers"/>
              Heroku
            </div>


            <!--Row 2, column 2-->
            <div class="column">
                <!--Docker-->
                <img id="imageSizing" src="/assets/dockerdevicon.png" alt="Docker developers"/>
                Heroku
            </div>

         </div>

        </div>

      </div>
    </div>


    <!--Workflow stack card-->
    <div class="column">
      <div class="box" id="stackCard">
        <h3 class="is-1 has-text-centered">workflow stack</h3>

        <!--horizontal line-->
        <hr id="dividingLine">

        <!--Stack content-->
        <div class="content">

          <!--Row 1-->
          <div class="columns">

            <!--Row 1, Column 1-->
            <div class="column">
                <!--Github-->
              <img id="imageSizing" src="/assets/githubdevIcon.png" alt="github developers"/>
              Github
            </div>

            <!--Row 1 Column 2-->
            <div class="column">
              <!--Visual studio-->
              <img id="imageSizing" src="/assets/visual_studiodevIcon.png" alt="visual studio users"/>
              Visual studio

            </div>

          </div>

          <!--Row 2-->
          <div class="columns">

            <!--Row 2 column 1-->
            <div class="column">

               <!--Visual code-->
               <img id="imageSizing" src="https://img.icons8.com/fluent/144/000000/visual-studio-code-2019.png" alt="visual code users"/>
               Visual code

            </div>


            <!--Row 2, column 2-->
            <div class="column">

               <!--.Net core-->
               <img id="imageSizing" width="80" src="/assets/NetcoredevIcon.png" alt=".Net core developers"/>
               .Net core

            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!--paragraph of the tech stack use and versitiltiy-->
  <div class="subtitle">
    <p style="color: white;">
      We have selected the best technology stacks to help your product out perform its competitors.
      Although these are the technology stacks we are familiar with,
      we believe that the best suited tools for the job are key to creating efficient solutions.
    </p>
  </div>

</div>
