<div id="boxWindow">

  <div class="box">
      <div class="title">
          <b>Our tech stack</b>
      </div>

      <br>

      <div>
          <h2>
              <p>
                  We Have selected the best technology stacks to help your product outperform its competitors.
                  We are a bunch of young proffesionals and we will easily pivot strategies/solutions to ensure you always have the front foot in the market.
              </p>
          </h2>
      </div>


      <br>

      <div class="box">

          <div class="columns">

              <!--Angular-->
              <div class="column" id="angularItem">
                  <img src="/assets/angularjsdevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Angular</h1>
              </div>


              <!--Docker-->
              <div class="column">
                  <img src="/assets/dockerdevicon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Docker</h1>
              </div>


              <!--.Net core-->
              <div class="column">
                  <img src="/assets/NetcoredevIcon.png" width="80" height="80" alt="angular developers"/>
                  <h1>.Net Core</h1>
              </div>

              <!--Xamarin-->
              <div class="column">
                  <img src="/assets/xamarindevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Xamarin</h1>
              </div>

              <!--MongoDb-->
              <div class="column">
                  <img src="/assets/mongodbdevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>MongoDb</h1>
              </div>

              <!--Vs code-->
              <div class="column">
                  <img src="https://img.icons8.com/fluent/144/000000/visual-studio-code-2019.png" width="60" height="60" alt="angular developers"/>
                  <h1>Visual Code</h1>
              </div>

              <!--Visual Studio-->
              <div class="column">
                  <img src="/assets/visual_studiodevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Visual Studio</h1>
              </div>

              <!--Github-->
              <div class="column">
                  <img src="/assets/githubdevIcon.png" width="70" height="70" alt="angular developers"/>
                  <h1>Github</h1>
              </div>


              <!--Bulma-->
              <div class="column">
                  <img src="/assets/angularjsdevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Bulma</h1>
              </div>

              <!--Heroku-->
              <div class="column">
                  <img src="/assets/herokudevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Heroku</h1>
              </div>

              <!--Azure-->
              <div class="column">
                  <img src="/assets/azuredevIcon.png" width="60" height="60" alt="angular developers"/>
                  <h1>Azure</h1>
              </div>

          </div>
      </div>

  </div>

</div>
