<div id="boxWindow" style="background-color: #2C3E7B;">
  <h1 class="title is-1 has-text-centered" style="color: white;">Our technology stack</h1>

  <div id="boxOverlap" class="box">

    <!--Tiled content-->
    <div id="tiledContentStyle" class="columns">
      <!--Framework stack card-->
      <div class="column">
        <div class="box" id="stackCard">
          <h3 class="is-1 has-text-centered" style="font-size: 150%;"><b>Framework stack</b></h3>

          <!--Horizontal line-->
          <hr id="dividingLine">


          <!--Stack content-->
          <div class="StackItems">
            <mat-grid-list cols="2" rowHeight="2:1" >
              <mat-grid-tile>
                <div class="innerStackItemStyling" >
                  <figure class="image is-64x64" >
                    <img class="imageStyling" src="/assets/angularjsdevIcon.png" alt="we develop using the angular framework fpor web solutions"/>
                 </figure>
                 <h4 class="is-1 has-text-centered"><b>Angular</b></h4>
                </div>
              </mat-grid-tile>

              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                     <img src="/assets/xamarindevIcon.png" alt="we develop using the xamarin framework for mobile solutions"/>
                  </figure>

                  <h4 class="is-1 has-text-centered"><b>Xamarin</b></h4>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

        </div>
      </div>

      <!--Backend stack card-->
      <div class="column">
        <div class="box" id="stackCard">
          <h3 class="is-1 has-text-centered" style="font-size: 150%;"><b>Backend stack</b></h3>

          <!--horizontal line-->
          <hr id="dividingLine">

          <!--Stack content-->
          <div class="StackItems">
            <mat-grid-list cols="2" rowHeight="2:1">
              <!--Mongodb-->
              <mat-grid-tile>
                  <div class="innerStackItemStyling">
                    <figure class="image is-64x64">
                      <img src="/assets/mongodbdevIcon.png" alt="we use noSQl for data storage"/>
                   </figure>

                   <h4 class="is-1 has-text-centered"><b>Mongodb</b></h4>
                  </div>
              </mat-grid-tile>

              <!--Azure-->
              <mat-grid-tile>
                  <div class="innerStackItemStyling">
                    <figure class="image is-64x64">
                      <img src="/assets/azuredevIcon.png" alt="we use Azure for cloud development"/>
                   </figure>

                   <h4 class="is-1 has-text-centered"><b>Azure</b></h4>
                  </div>
              </mat-grid-tile>

              <br>

              <!--Heroku-->
              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                    <img src="/assets/herokudevIcon.png" alt="we delpoy using heroku"/>
                 </figure>

                 <h4 class="is-1 has-text-centered"><b>Heroku</b></h4>
                </div>
              </mat-grid-tile>

              <!--Docker-->
              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                    <img src="/assets/dockerdevicon.png" alt="Docker is our go to for containrized solutions"/>
                 </figure>

                 <h4 class="is-1 has-text-centered"><b>Docker</b></h4>
                </div>
              </mat-grid-tile>

            </mat-grid-list>
          </div>

        </div>
      </div>


      <!--Workflow stack card-->
      <div class="column">
        <div class="box" id="stackCard">
          <h3 class="is-1 has-text-centered" style="font-size: 150%;"><b>Workflow stack</b></h3>

          <!--horizontal line-->
          <hr id="dividingLine">

          <!--Stack content-->
          <div class="StackItems">
            <mat-grid-list cols="2" rowHeight="2:1">
              <!--GitHub-->
              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                    <img src="/assets/githubdevIcon.png" alt="we develop using the angular framework"/>
                 </figure>

                 <h4 class="is-1 has-text-centered"><b>Github</b></h4>
                </div>
              </mat-grid-tile>

              <!--Visual Studio-->
              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                    <img src="/assets/visual_studiodevIcon.png" alt="we develop using the angular framework"/>
                 </figure>

                 <h4 class="is-1 has-text-centered"><b>Visual studio</b></h4>
                </div>
              </mat-grid-tile>

              <!--Visual Code-->
              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                    <img src="https://img.icons8.com/fluent/144/000000/visual-studio-code-2019.png" alt="we develop using the angular framework"/>
                 </figure>

                 <h4 class="is-1 has-text-centered"><b>Visual code</b></h4>
                </div>
              </mat-grid-tile>

              <!--.Net Core-->
              <mat-grid-tile>
                <div class="innerStackItemStyling">
                  <figure class="image is-64x64">
                    <img src="/assets/NetcoredevIcon.png" alt="we develop using the angular framework"/>
                 </figure>

                 <h4 class="is-1 has-text-centered"><b>.Net Core</b></h4>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

        </div>
      </div>

    </div>

      <!--paragraph of the tech stack use and versitiltiy-->
    <div class="subtitle">
      <p>
        We have selected the best technology stacks to help your product out perform its competitors.
        Although these are the technology stacks we are familiar with,
        we believe that the best suited tools for the job are key to creating efficient solutions.
      </p>
    </div>

  </div>

</div>
