#boxWindow{
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px 0px 0px 0px;
}

#boxOverlap{
  height: 89%;
  align-content: center;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 6.25rem 6.25rem 0px 0px;
}

#imageSizing{
  height: 70px;
  width: 70px;
}


#stackCard{
  border-radius: 30px;
  border-color:  #2C3E7B;;
  border-style: solid;
  height: 100%;
}

#dividingLine{
  background-color:  black;
  margin-left: 20px;
  margin-right: 20px;
  text-align-last: center;
}

#tiledContentStyle{
  height: 80%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.StackItems{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  padding-top: 10%;
}

.innerStackItemStyling{
  padding-top: 10%;
}
