<br>

<div>
   <h1 class="title">You deserve a great software engineering team</h1>

    <div class="box">

      <h2>Our team</h2>


      <br>

        <div class="columns">
          <!--Bonga's info-->
           <div class="column">
             <!--Profile picture-->
             <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
             </figure>

             <br>

              <!--Title-->
              <div>
                  <h3>Tech lead</h3>
              </div>

           </div>

           <!--Khanyisani's info-->
           <div class="column">
                <!--Profile picture-->
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>

                <br>

                <!--Title-->
                <div>
                    <h3>Project lead</h3>
                </div>

           </div>

        </div>
    </div>

</div>

<br>
