<br>

<h2 class="title is-1 has-text-centered">You deserve a great software engineering team</h2>

<!--main content tag-->
<section id="boxWindow" class="section">
    <div class="box" id="box-css">
        <h3 class="subtitle is-1 has-text-centered" style="color: black;">Our team</h3>

        <div class="columns">
            <!--Bonga's profile-->
            <div class="column">
                <figure class="image is-rounded is-128x128">
                   <img class="is-rounded" src="/assets/bonga.jpg" alt="co-founder and tech lead"/>
                </figure>

                <br>

                <h2 class="subtitle">Bonga Ngcobo</h2>

                <h2 class="subtitle">Co-founder and tech lead</h2>

            </div>

            <!--Vertical line-->
            <div id="verticalLine">

            </div>

            <!--Khanyisani's profile-->
            <div class="column">
              <figure class="image is-rounded is-128x128">
                 <img class="is-rounded" src="/assets/khanyisani.jpg" alt="co-founder and tech lead"/>
              </figure>

              <br>

              <h2 class="subtitle">Khanyisani Buthelezi</h2>

              <h2 class="subtitle">Co-founder and project lead</h2>

            </div>

        </div>

    </div>
</section>

<hr>


