<div id="outterDivWrapper">

  <h2 class="title is-1 has-text-centered">You deserve a great software engineering team</h2>

<!--main content tag-->
<div id="boxWindow">
    <div class="card" id="box-css">
        <div class="section">


          <h3 class="subtitle is-1 has-text-centered" style="color: black; font-size: 3rem;"> Meet Our team</h3>

          <div class="columns">

            <div *ngFor="let employee of ListOfTeamMemebers" class="column">
              <!--Name of employee-->
              <h2 class="subtitle has-text-centered">{{employee.employeeName}}</h2>

              <!--Head shot-->
              <div id="profilePicture">
                <figure class="image is-rounded is-1by1">
                  <img class="is-rounded" src="{{employee.employeeProfilePicture}}" alt="{{ employee.employeeTitle }}"/>
                </figure>
              </div>

              <br>

              <!--The title and linkdin button-->
              <div id="employeeSocialsAndTitle">
                <h2 class="subtitle has-text-centered">{{employee.employeeTitle}}
                  <span><a href="{{employee.employeeLinkdInLink}}"><i class="fab fa-linkedin is-large" alt="kb alpha employee linkdIn link"></i></a></span></h2>
              </div>

            </div>

          </div>

        </div>

    </div>
  </div>

<hr>
</div>


