<div id="boxWindow">

  <div id="bannerStyle" class="hero is-large" style="background-color: #2C3E7B;">
    <h2 class="title is-1 has-text-centered" style="color: white;"> What value will we bring you?</h2>
  </div>

  <br>

<div id="processCardSection" class="columns">
  <!--The first step-->
  <div class="column">
    <div id="cardStyle" class="box">
      <figure class="is-centered">
        <img src="/assets/meetingIcon.png" alt="meet kb alpha"/>
      </figure>


      <h3 id="cardSubtitle" class="subtitle is-1 has-text-centered">Step 1</h3>

      <hr style="background-color: black;">

      <p class="has-text-primary">We take a technical meeting with you to discuss your problem and we get to know you in the process.</p>

    </div>
  </div>


  <!--The second step-->
  <div class="column">
    <div id="cardStyle" class="box">
      <figure>
        <img src="/assets/buildIcon.png" alt="meet kb alpha"/>
      </figure>

      <h3 id="cardSubtitle" class="is-1 has-text-centered">Step 2</h3>

      <hr style="background-color: black;">

      <p>We build a miniture viable product (MVP) to introduce to the market.</p>

    </div>
  </div>

  <!--The third step-->
  <div class="column">
    <div id="cardStyle" class="box">
      <figure>
        <img src="/assets/maintainIcon.png" alt="meet kb alpha"/>
      </figure>


      <h3 id="cardSubtitle" class="is-1 has-text-centered">Step 3</h3>

      <hr style="background-color: black;">

      <p>We gather data, maintain the software during its lifecycle, adding new features and polishing the user interface and experience (UI/UX) based on the data collected.</p>

    </div>
  </div>

</div>

</div>

<hr>
