#mainDialogBox{
  width: auto;
  height: auto;
  background-color:white;
}
#matform-card-1{
  margin-top: 2%;
}


.example-full-width {
  width: 100%;
  height: 100%;
}

.checkBoxStyling{
  margin-right: 2%;
}

#mainContent{
  height: 80%;
  width: auto;
}

.radioGroupStyling{
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.cardStyling{
  height: 100%;
  border-style: solid;
  border-width: medium;
  border-color: #2C3E7B;
}

img.mat-card-image{
  display: inline;
}
