<h2 mat-dialog-title>Get Quote</h2>

<form #quoteForm="ngForm" (ngSubmit)="submitQuote(quoteForm)">
  <mat-dialog-content>
      <mat-horizontal-stepper>
          <mat-step [stepControl]="firstGroup">

          </mat-step>

          <mat-step [stepControl]="secondGroup">

          </mat-step>

          <mat-step>

          </mat-step>

      </mat-horizontal-stepper>
  </mat-dialog-content>


  <div class="columns">

    <div class="column">
      <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" name="designSpec">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span>
                Upload design specification document
              </span>
            </span>
          </label>
      </div>
    </div>

    <mat-dialog-actions align="center" class="column">
      <button type="submit" mat-raised-button [mat-dialog-close]="true" color="primary">Get Quote</button>
      <button mat-raised-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </div>

</form>


