<div id="mainBox">
  <h2 mat-dialog-title>Get Quote</h2>

<mat-dialog-content class="mat-typography">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Full Name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Company</mat-label>
      <input matInput placeholder="Company">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cellphone</mat-label>
      <input matInput placeholder="Cellphone">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" style="background-color: #2C3E7B;">Get Quote</button>
</mat-dialog-actions>
</div>
