#mainDialogBox{
  width: auto;
  height: auto;
  background-color:white;
}
#matform-card-1{
  margin-top: 2%;
}
table {
  width: 80%;
}

.example-full-width {
  width: 60%;
  height: 100%;
}

.btn-save{
  margin-left: 20px;
}
.checkBoxStyling{
  margin-right: 2%;
}

.feature-form-field{
  width: 70%;
}
#mainContent{
  height: 80%;
  width: auto;
}

.radioGroupStyling{
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

.cardStyling{
  height: 100%;
  border-style: solid;
  border-width: medium;
  border-color: #2C3E7B;
}

.mat-card-image {
  width: 600%;
  margin: 0 -16px 16px -16px;
  padding: 0%;
}
