<div>
  <h1 class="title">
      <b>What does KB alpha offer?</b>
   </h1>


   <h2>
       <p>
           We create digital solutions and offer engineering solutions for our clientele that are looking for more than out of the box solutions,
           to solve some of their complex digital and technical based problems.
       </p>
   </h2>

   <br>

   <!--Offering list-->
   <div>
      <div class="box">
       <h1 class="title"><b>Development areas</b></h1>

       <div class="columns">
           <!--Container 1-->
           <div class="column">
               <!--Card 1-->
               <div class="card">
                   <div class="card-content">
                           <figure class="image is-128x128">
                               <img src="/assets/mobiledevIcon.png" alt="Mobile development"/>
                           </figure>

                           <br>

                           <h1>Mobile development</h1>
                   </div>

               </div>
           </div>

           <!--Container 2-->
           <div class="column">
               <!--Card 2-->
               <div class="card">
                   <div class="card-content">
                       <figure class="image is-128x128">
                           <img src="/assets/webdevIcon.png" alt="Web development">
                       </figure>

                       <br>

                       <h1>Web development</h1>
                   </div>
               </div>
           </div>

           <!--Container 3-->
           <div class="column">
               <!--Card 3-->
               <div class="card">
                   <div class="card-content">
                       <figure class="image is-128x128">
                           <img src="/assets/iotdevIcon.png">
                       </figure>

                       <br>

                       <h1>Iot development</h1>
                   </div>
               </div>
           </div>

       </div>
      </div>
   </div>

</div>

<br>
