
<div id="boxWindow">
    <h1 class="is-size-1 is-kbalpha-color has-text-centered is-horizontal-center titleStyling"><b> What does KB Alpha offer?</b></h1>
    <br/>

    <div style="margin-left: 4%;">
      <h4 class="title is-4">
        <p class="is-kbalpha-color">
        We create digital solutions and offer engineering solutions for our clientele that are looking for more than out of the box solutions,
          to solve some of their complex digital and technical based problems.
        </p>
      </h4>
    </div>

    <br>

     <!--Row 1, with development items-->
     <div id="rowOne">
      <div class="columns has-text-centered">
        <!--Mobile dev-->
        <div class="column">
            <div class="card" id="box-css">
              <div class="card-content is-horizontal-center">
                <figure class="image container is-128x128">
                  <img src="/assets/mobiledevIcon.png" alt="Mobile development"/>
                </figure>
                <br>
                <h1 class="is-kbalpha-color has-text-centered"><b> Mobile Development </b></h1>
              </div>
            </div>
        </div>

        <!--Web dev-->
        <div class="column">
          <div class="card" id="box-css">
            <div class="card-content is-horizontal-center">
              <figure class="image container is-128x128">
                <img src="/assets/webdevIcon.png" alt="Mobile development"/>
              </figure>
              <br>
              <h1 class="is-kbalpha-color has-text-centered"><b>Web Development</b></h1>
            </div>
          </div>
        </div>

        <!--iot dev-->
        <div class="column">
          <div class="card" id="box-css">
            <div class="card-content is-horizontal-center">
              <figure class="image container is-128x128">
                <img id="box-image" src="/assets/iotdevIcon.png" alt="IOT development"/>
              </figure>
              <br>
                <h1 class="is-1 is-kbalpha-color has-text-centered"><b>IoT Development</b></h1>
            </div>
          </div>
        </div>

    </div>
  </div>


  <!--break the line-->

  <br>
  <br>

<!--Product offering line two-->
<div id="rowTwo">

<div class="columns">

 <!--RPA dev-->
 <div class="column">
  <div class="card" id="box-css">
    <div class="card-content is-horizontal-center">
      <figure class="image container is-128x128">
        <img id="box-image" src="/assets/RPA.png" alt="RPA development"/>
      </figure>
      <br>
        <h1 class="is-1 is-kbalpha-color has-text-centered"><b>Robotic Process Automation</b></h1>
    </div>
  </div>
</div>

  <!--Ar dev-->
  <div class="column">
    <div class="card" id="box-css">
      <div class="card-content is-horizontal-center">
        <figure class="image container is-128x128">
          <img id="box-image" src="/assets/microsoft_hololens_127px.png" alt="augmented reality development"/>
        </figure>
        <br>
          <h1 class="is-1 is-kbalpha-color has-text-centered"><b>Augmented Reality Development </b></h1>
      </div>
    </div>
  </div>

   <!--Vr dev-->
   <div class="column">
    <div class="card" id="box-css">
      <div class="card-content is-horizontal-center">
        <figure class="image container is-128x128">
          <img id="box-image" src="/assets/augmented_reality.png" alt="virtual reality development"/>
        </figure>
        <br>
          <h1 class="is-1 is-kbalpha-color has-text-centered"><b>Virtual Reality Developemnt</b></h1>
      </div>
    </div>
  </div>

</div>

</div>

<br>

<!--Check list of our coding standards-->
<div id="rowThree">

  <!--Value the company offers-->
  <div class="columns">

    <!--Each standard-->

     <!--Value 1-->
    <div class="column">
      <div class="innerboxContainer" >
        <img id="image" src="/assets/valueWeOffer.png"/>
        <h4 style="text-align: center; margin-block-start: 12px; margin-left: 5px;"><b>Reliable code</b></h4>
      </div>
    </div>

    <!--Value 2-->
    <div class="column">
      <div class="innerboxContainer">
        <img id="image" src="/assets/valueWeOffer.png"/>
        <h4 style="margin-block-start: 12px;  margin-left: 5px;"><b>Clean code</b></h4>
        </div>
    </div>

    <!--Value 3-->
    <div class="column">
      <div class="innerboxContainer">
        <img id="image" src="/assets/valueWeOffer.png"/>
        <h4 style="margin-block-start: 12px;  margin-left: 5px;"><b>Well documented code</b></h4>
        </div>
    </div>

  </div>

</div>

    <br/>

</div>

