<div id="boxWindow">
  <h1 class="title is-1 has-text-centered">
      What does KB alpha offer?
   </h1>
   <br>

   <!--Offering list-->
   <div>
      <div class="box" >
       <h1 class="title is-1 has-text-centered"><b>Development areas</b></h1>

       <div class="columns" >
           <!--Container 1-->
           <div class="column" >
               <!--Card 1-->
               <div class="card" id="box-css">
                   <div class="card-content" >
                           <figure class="image is-128x128">
                               <img src="/assets/mobiledevIcon.png" alt="Mobile development"/>
                           </figure>

                           <br>

                           <h1>Mobile development</h1>
                   </div>

               </div>
           </div>

           <!--Container 2-->
           <div class="column">
               <!--Card 2-->
               <div class="card" id="box-css">
                   <div class="card-content">
                       <figure class="image is-128x128">
                           <img src="/assets/webdevIcon.png" alt="Web development">
                       </figure>

                       <br>

                       <h1>Web development</h1>
                   </div>
               </div>
           </div>

           <!--Container 3-->
           <div class="column">
               <!--Card 3-->
               <div class="card" id="box-css">
                   <div class="card-content">
                       <figure class="image is-128x128">
                           <img src="/assets/iotdevIcon.png" alt="IOT development">
                       </figure>

                       <br>

                       <h1>Iot development</h1>
                   </div>
               </div>
           </div>

       </div>
      </div>
   </div>

</div>

<br>
