.is-horizontal-center{
  justify-content: center;
}

#box-css{
    border-color: black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#box-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#boxWindow{
    height: auto;
    max-width: 100%;
}

#image{
  width: 50px;
  height: 50px;
}

#rowOne{
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

#rowTwo{
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

#rowThree{
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2%;
}

.iconLabel{
  height: 100%;
  background-color: teal;
  width: 100%;
}

.innerboxContainer{
  display: flex;
  justify-content: start;
  height: 100%;
}

.titleStyling{
  margin: 2%;
  line-height: 100%;
}

.has-text-black{
  font-size: 2rem;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-transform: inherit;
  text-align: justify;
  line-height: 1em;
}
