<div id="accpetedQuoteBackground">
  <div class="columns">

    <div id="firstColumn" class="column">
      <br>
      <br>

      <img id="comapnyLogo"
           src="/assets/kbalpha white logo.png"
           height="600"
           width="600"
      >

      <br>

    </div>

    <div id="secondColumn" class="column">
      <button id="acceptButton"
              color="primary"
              (click)="acceptQuote()"
              mat-raised-button
              >
              Accept this quote
      </button>
    </div>
  </div>
</div>
