<div id="mainContainer">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Customer leads">
        <!--Main container-->
        <div class="columns">

            <!--list of leads-->
            <div class="column">
              <mat-list>
                <div mat-subheader>Customer leads</div>
                <mat-list-item>
                  <div mat></div>
                </mat-list-item>
              </mat-list>
            </div>
            <!--Details of customer-->
            <div class="column" style="background-color: green;">
                <mat-card>
                  <!--Customer Details-->
                  <mat-card-header>
                    <mat-card-title>Customer Name</mat-card-title>
                    <mat-card-subtitle>Customer email</mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content>
                    <p>
                      List of features with entry box of how long it will take to implemnt that feature
                    </p>
                    <input>
                  </mat-card-content>

                  <button>Generate Quote</button>

                </mat-card>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Current Projects">
        <div>

        </div>
    </mat-tab>

    <mat-tab label="Finance">
        <div>

        </div>
    </mat-tab>

  </mat-tab-group>
</div>
