<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Customer leads">
      <!--Main container to send quotes-->
      <div class="container">
        <mat-card class="cardSizing">
          <!--Company name-->
           <mat-card-header>
            <mat-card-title>Altron Technologies</mat-card-title>
            <mat-card-subtitle>@Altrontech.com</mat-card-subtitle>
           </mat-card-header>

           <mat-card-content>
             <!--Main column container-->
             <div class="columns">
                <!--Left column-->
                <div class="column">
                    <label class="title">Quote Summary</label>

                    <br>
                    <br>

                    <label>Submitted on 15/09/2020</label>

                    <br>
                    <br>

                    <label>Valid until {{dateValidity}}</label>


                    <br>
                    <br>

                    <!--Number table-->
                    <table class="table">


                      <!--Column titles-->
                      <thead>
                        <tr>
                          <th>Description</th>
                          <th>Hours</th>
                          <th>Hourly Rate</th>
                          <th>Cost</th>
                        </tr>
                      </thead>

                      <!--Table Body-->
                      <tbody>
                        <td>The Applciation must have GPS location</td>
                        <td>8</td>
                        <td>R156.67</td>
                        <td>R2400.65</td>
                      </tbody>

                    </table>
                    <br>

                    <label class="subtitle">Subtotal:  R4682</label>

                    <br>

                    <label class="subtitle">Tax (15%): R709.04</label>

                    <br>

                    <label class="subtitle">Adjustments: R700</label>

                    <br>
                    <br>

                    <label class="subtitle" style="outline-color: lightblue;"><b>Total: R5289. 94</b></label>

                </div>

                <!--Right column features and hours needed to complete-->
                <div class="column">
                    <label class="subtitle">Hours needed for feature</label>
                    <br>
                    <br>
                    <div>
                      <mat-label>We need a GPS location feature </mat-label>
                      <input>
                    </div>

                    <br>

                    <div>
                      <mat-label>Adjustments </mat-label>
                      <input>
                    </div>
                </div>
             </div>


           </mat-card-content>

           <mat-card-footer>
             <!--Generate Quote-->
             <button>Generate Quote</button>
           </mat-card-footer>

        </mat-card>
      </div>
  </mat-tab>


  <!--CURRENT PROJECT-->
  <mat-tab label="Current Projects">
    <!--Progress report on projects-->
      <div class="container">
        <mat-card class="cardSizing">
          <mat-card-header>
              <mat-card-title>Altron Technologies</mat-card-title>
              <mat-card-subtitle>@Altrontech.com</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <div class="columns">

                <!--Job Details-->
                <div class="column">
                  <label class="subtitle">Platforms:
                    <span>
                      <mat-chip-list>
                        <mat-chip color="primary">Mobile</mat-chip>
                        <mat-chip color="primary">Web</mat-chip>
                        <mat-chip color="primary">IoT</mat-chip>
                      </mat-chip-list>
                    </span>
                  </label>
                  <br>
                  <label class="subtitle">Industry: Engineering and Science</label>


                  <!--Feature list-->
                  <div>
                    <br>
                     <h3 class="subtitle"><b>5 features</b></h3>

                     <label>1. The App must have a GPS</label>
                     <br>
                     <label>2. The App must have a Emailer</label>
                     <br>
                     <label>3. The App must have a Sql database</label>
                     <br>
                     <label>4. The App must have a google docs api</label>
                     <br>
                     <label>5. The App must have a payment system</label>

                     <br>
                     <br>

                     <button>Design Specification</button>

                  </div>
                </div>

                <!--Progress bar and project data input area-->
                <div class="column">
                  <h3 class="subtitle">Project progress</h3>
                  <mat-progress-bar mode="determinate" [value]=80></mat-progress-bar>

                  <br>
                  <br>

                  <!--Development cycle-->
                  <h3 class="subtitle"><b>Development cycle sheet</b></h3>

                  <mat-radio-group *ngFor="let stage of stages" [(ngModel)]="localStageLabel" aria-label="Select an option">
                    <mat-radio-button [value]="stage">{{stage}}</mat-radio-button>
                    <br>
                    <br>
                  </mat-radio-group>

                  <br>
                  <br>

                  <button style="background-color: red; text-decoration-color: white;">Delete Project</button>

                </div>
              </div>
          </mat-card-content>

        </mat-card>
      </div>
  </mat-tab>

  <mat-tab label="Finance">
    <!--Reports-->
      <div class="container">

      </div>
  </mat-tab>

</mat-tab-group>
