<div id="boxWindow">
  <section class="hero" style="background-color: #2C3E7B;">
    <div class="hero-head">
        <div class="container">
          <h2 class="title is-1 has-text-centered" style="color: white;"> What value will we bring you?</h2>
        </div>
    </div>
</section>


<section>
  <div class="columns">
    <!--The first step-->
    <div class="column">
      <div class="box">
        <figure>
          <img src="/assets/meetingIcon.png" alt="meet kb alpha"/>
        </figure>


        <h3 class="is-1 has-text-centered">Step 1</h3>

        <hr style="background-color: black;">

        <h2>We take a technical meeting with you to discuss your problem and we get to know you in the process</h2>

      </div>
    </div>


    <!--The second step-->
    <div class="column">
      <div class="box">
        <figure>
          <img src="/assets/buildIcon.png" alt="meet kb alpha"/>
        </figure>

        <h3 class="is-1 has-text-centered">Step 2</h3>

        <hr style="background-color: black;">

        <h2>We build a miniture viable product (MVP) to introduce to the market</h2>

      </div>
    </div>

    <!--The third step-->
    <div class="column">
      <div class="box">
        <figure>
          <img src="/assets/maintainIcon.png" alt="meet kb alpha"/>
        </figure>


        <h3 class="is-1 has-text-centered">Step 3</h3>

        <hr style="background-color: black;">

        <h2>We gather data, maintain the software during its lifecycle, adding new features and polishing the user interface and experience (UI/UX) based on the data collected</h2>

      </div>
    </div>

  </div>
</section>

</div>

<hr>
