#box-css {
  border-color: black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 95%;
  margin-left: 5%;
  margin-right: 5%;
}

.is-horizontal-center {
  justify-content: center;
}

.is-kbalpha-color {
  color: #2c3e7b;
}

.bodyOfText{
  margin: 3%;
  font-size: 100%;
  text-align: left;
}

#boxWindow {
  max-height: 80%;
  height: auto;
}

#bannerStyle {
  max-height: 700px;
  background-color: #2c3e7b;
}

#processCardSection {
  height: 80%;
}

#cardSubtitle {
  font-size: 40px;
}

.TitleStyling{
  margin: 2%;
  line-height: 100%;
}


.seperatingLine{
  margin-left: 15%;
  margin-right: 15%;
  background-color: black;
}
