<div>
<h1 class="title is-1 has-text-centered" >What value will we bring you?</h1>
<h3 class="title is-3 has-text-centered" >We design, build and maintain software that runs your organization using a great team</h3>
<br/>
<br/>
<div class="columns">
    <div class="column">
        <div id="box-css" class="box">
            <app-processanimation></app-processanimation>
            <strong>Step 1:</strong> <br/>
            We have a technical meeting
        </div>
    </div>
    <div class="column">
        <div id="box-css" class="box">
            <div></div>
            <app-processanimation></app-processanimation>
            <strong>Step 2:</strong><br/>
            We build the MVP and take it to the market
        </div>
    </div>
    <div class="column">
        <div id="box-css" class="box">
            <app-processanimation></app-processanimation>
            <strong>Step 3:</strong> <br/>
            Gather user data, improve and watch the number grow exponentialy  
           
        </div>
    </div>
  </div>
<br/>
<h2 class="title is-2 has-text-centered" >Our Go-To Tech Stack</h2>
<h4 class="title is-4 has-text-centered" >We Have selected the best technology stacks to help your product outperform its competitors. We are a bunch of young proffesionals
    and we will easily pivot strategies/solutions to ensure you always have the front foot in the market.</h4>
    <div class="box">    
        <div class="columns">
            <div class="column">
                <div class="box">
                    Angular
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    Docker
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    Serverless
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    .Net Core
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    Xamarin
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    MongoDB
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    MySQL
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    Azure
                 </div>
            </div>
            <div class="column">
                <div class="box">
                    Heroku
                 </div>
            </div>
        </div>    
    </div>
<br/>
</div> 