#box-css {
  border-color: black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 95%;
  margin-left: 5%;
  margin-right: 5%;
}

.is-horizontal-center {
  justify-content: center;
}

.is-kbalpha-color {
  color: #2c3e7b;
}

#boxWindow {
  max-width: 100%;
  height: auto;
}

#bannerStyle {
  height: auto;
  background-color: #2c3e7b;
}

#processCardSection {
  height: 80%;
}

#cardSubtitle {
  font-size: 40px;
}
