<div id="bannerStyle" class="hero is-large">
  <br>
  <h2 class="title is-1 has-text-centered is-horizontal-center" style="color: white; padding-top: 20px;"><b> What value will we bring you?</b></h2>
  <br/>
</div>

<br>

<div id="boxWindow">

  <div class="columns">
<!--The first step-->
<div class="column">
  <div id="box-css" class="card">
    <figure>
      <img src="/assets/meetingIcon.png" class="image container is-128x128" alt="meet kb alpha"/>
    </figure>

    <h3 id="cardSubtitle" class="subtitle is-1 has-text-centered">Step 1</h3>

    <hr style="background-color: black;">
    <p class="has-text-centered is-size-5 is-kbalpha-color" style="padding-bottom: 20px;">We take a technical meeting with you to discuss your problem and we get to know you in the process.</p>
  </div>
</div>


<!--The second step-->
<div class="column">
  <div id="box-css" class="card">
    <figure>
      <img src="/assets/buildIcon.png" class="image container is-128x128" alt="meet kb alpha"/>
    </figure>

    <h3 id="cardSubtitle" class="is-size-3 is-kbalpha-color has-text-centered">Step 2</h3>

    <hr style="background-color: black;">

    <p class="has-text-centered is-size-5 is-kbalpha-color" style="padding-bottom: 20px;">We build a miniture viable product (MVP) to introduce to the market.</p>

  </div>
</div>

<!--The third step-->
<div class="column">
  <div id="box-css" class="card">
    <figure>
      <img src="/assets/maintainIcon.png"class="image container is-128x128" alt="meet kb alpha"/>
    </figure>

    <h3 id="cardSubtitle" class="is-1 has-text-centered">Step 3</h3>

    <hr style="background-color: black;">

    <p class="has-text-centered is-size-5 is-kbalpha-color" style="padding-bottom: 20px;">We gather data, maintain the software during its lifecycle, adding new features and polishing the user interface and experience (UI/UX) based on the data collected.</p>

  </div>
</div>
  </div>

</div>

<hr>
