#headerImage {
    height: 950px;
    max-width: 100%;
    border-radius: 0px 0px 0px 0px;
    background-color:#2C3E7B;
   }
#headerText{
    Top: 30px;
}
#lottie{
    margin-top: 6%;
    margin-left: 45%;
}


#doughnut { 
    border: 10px solid white;
    border-radius: 150px;
    height:150px;
    width:150px;
    margin-top: 2%;
    margin-left: 5%;
}




