#headerImage {
  background-color: #2C3E7B;
  background-position: center;
}

#headerText {
  Top: 30px;
}

#lottie {
  position: 20%;
  margin-left: 45%;
}


#doughnut {
  border: 10px solid white;
  border-radius: 150px;
  height: 150px;
  width: 150px;
  margin-top: 2%;
  margin-left: 5%;
}
