<div id="headerImage">



  <div id="headerText">
    <h2 class="title is-1 has-text-centered has-text-white is-family-monospace" >
      <br>
      <b>KB Alpha</b>
    </h2>
  </div>

  <br/><br/><br/>

  <div class="img has-text-centered">
    <figure >
      <img src="/assets/kb alpha white logo.png">
    </figure>

  </div>

   <app-scrollanimation id="lottie"></app-scrollanimation>

   <div class="box" style="background-color: transparent;">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
   </div>

</div>

