<div id="headerImage" >
  
  <div id="headerText">
    <h2 class="title is-1 has-text-centered has-text-white is-family-monospace" >
      <br/><br/>
      <b>KB Alpha</b>
    </h2>
  </div>  

  <br/><br/><br/>
    
    <h4 class="title is-4 has-text-centered has-text-white">
      <p class="has-text-white">
        We create digital solutions and offer engineering solutions for our clientele that are looking for more than out of the box solutions,<br/>
        to solve some of their complex digital and technical based problems.
      </p>
    </h4>
    <div id="doughnut"></div>
  
  <div id="lottie">
    <app-scrollanimation></app-scrollanimation>
  </div>
</div>

