<div id="headerImage">



  <div id="headerText">
    <h2 class="title is-1 has-text-centered has-text-white is-family-monospace" >
      <br>
      <b>KB Alpha</b>
    </h2>
  </div>

  <br/><br/><br/>

  <img id="companylogo" src="/assets/kb alpha white logo.png">

   <app-scrollanimation id="lottie"></app-scrollanimation>

   <<div class="box">
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
     <div></div>
   </div>

</div>

