<mat-tab-group mat-align-tabs="start" style="margin: 2%;">

  <!--Equaties page-->
  <mat-tab label="Equaties">
      <app-equatiescomp></app-equatiescomp>
  </mat-tab>

  <!--Commodaties page-->
  <mat-tab label="Commodities">
      <app-commodatiescomp></app-commodatiescomp>
  </mat-tab>


  <!--Market News-->
  <mat-tab label="Market news">
      <app-newscomp></app-newscomp>
  </mat-tab>

   <!--Macroeconomics-->
   <mat-tab label="Macroeconomics">
      <app-macroeconomics></app-macroeconomics>
  </mat-tab>

 <!--Log into IB account-->
  <mat-tab label="IB Trading">
      Interactive brockers intergration here
  </mat-tab>

  <!--Earnings calendar-->
  <mat-tab label="Earnings calendar">
      <app-earningscomp></app-earningscomp>
  </mat-tab>

  <!--Trading view -->
  <mat-tab label="Trading view">
      <app-tradingviewcomp></app-tradingviewcomp>
  </mat-tab>


</mat-tab-group>