<mat-tab-group mat-align-tabs="start" style="margin: 2%;">

    <!--Equaties page-->
    <mat-tab label="Equaties">
        Equaties page
    </mat-tab>

    <!--Commodaties page-->
    <mat-tab label="Commodities">
        <app-commodatiescomp></app-commodatiescomp>
    </mat-tab>


    <!--Market News-->
    <mat-tab label="Market news">
        market news
    </mat-tab>

   <!--Log into IB account-->
    <mat-tab label="Trade">
        Interactive brockers intergration here
    </mat-tab>

</mat-tab-group>