<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Markets</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
    "showSymbolLogo": false,
    "colorTheme": "light",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
  
<mat-tab-group mat-align-tabs="start" style="margin: 2%;">

    <!--Equaties page-->
    <mat-tab label="Equaties">
        <app-equatiescomp></app-equatiescomp>
    </mat-tab>

    <!--Commodaties page-->
    <mat-tab label="Commodities">
        <app-commodatiescomp></app-commodatiescomp>
    </mat-tab>


    <!--Market News-->
    <mat-tab label="Market news">
        <app-newscomp></app-newscomp>
    </mat-tab>

     <!--Macroeconomics-->
     <mat-tab label="Macroeconomics">
        <app-macroeconomics></app-macroeconomics>
    </mat-tab>

   <!--Log into IB account-->
    <mat-tab label="IB Trading">
        Interactive brockers intergration here
    </mat-tab>

    <!--Earnings calendar-->
    <mat-tab label="Earnings calendar">
        <app-earningscomp></app-earningscomp>
    </mat-tab>

    <!--Trading view -->
    <mat-tab label="Trading view">
        <app-tradingviewcomp></app-tradingviewcomp>
    </mat-tab>


</mat-tab-group>