<br>

<div id="mainContainer" class="columns">

    <div id="columnOne" class="column" >
      <form #f="ngForm"  (ngSubmit)="onSendRequest(f)">
        <mat-form-field class="example-full-width">
          <mat-label>Full Name</mat-label>
          <input required matInput name="fullname" #fullname="ngModel" placeholder="Full Name" [(ngModel)]="clientName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cellphone number</mat-label>
          <input id="cellphone" name="cellphone" required matInput type="text" placeholder="Cell phone number" [(ngModel)]="clientCellphone" #cellphone="ngModel">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input id="email" required minlength="3" name="email" matInput type="email" placeholder="Email input" [(ngModel)]="clientEmail" #email="ngModel">
          <div *ngIf="clientEmail===' '" class="alert alertdanger">
            <!--This will be for if the email address is invalid-->
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Company</mat-label>
          <input required name="company" #company="ngModel" matInput type="text" placeholder="Company name" [(ngModel)]="clientCompanyName">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Subject</mat-label>
            <mat-select n>
              <mat-option  *ngFor="let serviceItem of serviceOfferings" [value]="serviceItem.serviceName">
                  {{serviceItem.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>

      <div class="field">
        <label id="formLabel" class="label">Message</label>
        <div class="control">
          <textarea style="outline: 3px solid #2C3E7B;" name="message" #message="ngModel" required.minlength="4" matInput class="textarea" placeholder="What can we help you with?" [(ngModel)]="clientMessage"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link is-kbalpha-color" style="background-color: #2C3E7B;">Submit</button>
        </div>
      </div>
      </form>
    </div>

    <div id="columnTwo" class="column">
      <app-contactyouanimation></app-contactyouanimation>
    </div>

</div>

<br>

