<br>

<div class="columns">


    <div class="column">
      <figure class="image is-3by2">
         <img src="https://bulma.io/images/placeholders/256x256.png" alt="Contact KB Alpha">
      </figure>
    </div>


    <div class="column" style="background-color: #2C3E7B;">
      <div class="field">
        <label id="formLabel" class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" [(ngModel)]="clientName">
        </div>
      </div>

      <div class="field">
        <label id="formLabel" class="label">Cellphone number</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" placeholder="Text input" [(ngModel)]="clientCellphone">
          <span class="icon is-small is-left">
            <i class="fas fa-phone"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label id="formLabel" class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="Email input" [(ngModel)]="clientEmail">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
      </div>

      <div class="field">
        <label id="formLabel" class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select>
                <option>Software development</option>
                <option>Serapis medical</option>
                <option>Pescado farms</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label id="formLabel" class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="What can we help you with?" [(ngModel)]="clientMessage"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="onSendRequest()">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>

    </div>

</div>

<br>

