<br>

<div id="mainContainer" class="columns">


    <div id="columnOne" class="column">
      <figure class="image is-3by2">
         <img src="https://bulma.io/images/placeholders/256x256.png" alt="Contact KB Alpha">
      </figure>
    </div>


    <div id="columnTwo" class="column" >
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input required matInput placeholder="Name" [(ngModel)]="clientName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Cellphone number</mat-label>
          <input required matInput type="text" placeholder="Cell phone number" [(ngModel)]="clientCellphone">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input id="email" required minlength="3" name="email" matInput type="email" placeholder="Email input" [(ngModel)]="clientEmail" #email="ngModel">
          <div *ngIf="clientEmail===' '" class="alert alertdanger">
            <!--This will be for if the email address is invalid-->
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Subject</mat-label>
            <mat-select>
              <mat-option *ngFor="let serviceItem of serviceOfferings" [value]="serviceItem.serviceName">
                  {{serviceItem.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>

      <div class="field">
        <label id="formLabel" class="label">Message</label>
        <div class="control">
          <textarea required.minlength="4" matInput class="textarea" placeholder="What can we help you with?" [(ngModel)]="clientMessage"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="onSendRequest()">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>

    </div>

</div>

<br>

