.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#columnOne{
  max-height: 100%;
  padding-left: 2.5%;
  padding-top: 1%;
}

#columnTwo{

  height: 100%;
}

#mainContainer{
  height: auto;
  padding: 5% 0% 5% 0%;
}
