<div class="columns" style="height: max-content;">

    <!--Ticker news search-->
    <div class="column is-two-thirds">

        <!--stock news search bar-->
        <div class="control has-icons-right" style="margin-left: 25%; margin-right: 25%;">
            <input class="input" type="text" placeholder="ticker symbol">
    
            <span class="icon is-small is-right">
            <i class="fas fa-search"></i>
            </span>
        </div>

    </div>

    <!--trending stock news-->
    <div class="column">
        <h2>Trending stock news</h2>

        <mat-card>
            <!--List of articles-->
        </mat-card>
    </div>

</div>