<!--Main container to send quotes-->
<div class="container">

  <label class="title is-1 has-text-centered">Quotes</label>

  <br>
  <br>

  <mat-card class="cardSizing" *ngFor="let quote of pvtlistOfAllQuotes">
    <!--Company name-->
     <mat-card-header>
      <mat-card-title>{{quote.clientDetails.company}}</mat-card-title>
      <mat-card-subtitle>{{quote.clientDetails.email}}</mat-card-subtitle>
     </mat-card-header>

     <mat-card-content>
       <!--Main column container-->
       <div class="columns">
          <!--Left column-->
          <div class="column">
              <label class="title">Quote Summary</label>

              <br>
              <br>

              <label>Submitted on: {{quote.dateTimeOfQuote}}</label>

              <br>
              <br>

              <label>Valid until: insert expiry date here</label>


              <br>
              <br>

              <!--Number table-->
              <table class="table">


                <!--Column titles-->
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Hours</th>
                    <th>Hourly Rate</th>
                    <th>Cost</th>
                  </tr>
                </thead>

                <!--Table Body-->
                <tbody *ngFor="let feature of quote.projectReq.featuresRequested" #featureCost>
                  <td>{{feature.feature}}</td> <!--feature-->
                  <td>{{feature.hoursRequired}}</td> <!--hours required-->
                  <td>R {{quote.quoteAmount.hourlyRate}}</td> <!--hourly rate-->
                  <td [(ngModel)]="feature.featureCost">R {{ calculator.featureCost(feature.hoursRequired) }}</td> <!--feature cost-->
                </tbody>

              </table>
              <br>

              <!--calculator.calculateSubTotal()-->
              <label class="subtitle">Subtotal:  R {{quote.quoteAmount.subTotal}}</label>

              <br>

              <label class="subtitle">Tax (15%): R {{quote.quoteAmount.tax}}</label>

              <br>

              <label class="subtitle">Adjustments: R {{quote.quoteAmount.adjustments}}</label>

              <br>
              <br>

              <label class="subtitle" style="outline-color: lightblue;"><b>Total: R {{quote.quoteAmount.total}}</b></label>

          </div>

          <!--Right column features and hours needed to complete-->
          <div class="column">
            <!--Editable table for filling quote-->
            <table class="table is-fullwidth is-bordered">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Hours Required</th>
                </tr>
              </thead>

              <tbody *ngFor="let editableFeature of quote.projectReq.featuresRequested">
                <tr>
                  <td><Label>{{editableFeature.feature}}</Label></td>
                  <td><input [(ngModel)]="editableFeature.hoursRequired" #hoursNeeded matInput placeholder="hours required" type="number" required></td>
                </tr>
              </tbody>
            </table>

            <!--ADjustment Amount-->
            <input [(ngModel)]="quote.quoteAmount.adjustments" #adjustableAmount matInput placeholder="Adjustment amount">
          </div>
       </div>


     </mat-card-content>

     <mat-card-footer style="margin-bottom: 2%; margin-left: 1%;">
       <!--Generate Quote-->
       <button (click)="createQuote(quote.quoteId)" mat-raised-button color="primary">Generate Quote</button>
     </mat-card-footer>

  </mat-card>
</div>
