<div class="container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Full name</th>
        <th>Cellphone number</th>
        <th>Email</th>
        <th>Company</th>
        <th>Subject</th>
      </tr>
    </thead>
    <!--Data body-->
    <tbody>
      <tr>
        <td>Khanyisani Buthelezi</td>
        <td>0609887758</td>
        <td>khanyisani.buthelezi03@gmail.com</td>
        <td>KB Alpha</td>
        <td>Software development</td>
      </tr>

      <tr>
        <td>Bonga Ngcobo</td>
        <td>0709887758</td>
        <td>Bonga.developer@outlook.com</td>
        <td>Blades grocery</td>
        <td>Pescado Farms</td>
      </tr>
    </tbody>
  </table>
</div>
