<!--Landing page-->
<section class="section">
    <div class="container">
        <h1>
            <b>Landing page section one</b>
        </h1>
    </div>
</section>

<!--Platforms we develop in-->
<section class="section">
    <div class="container">
       <b>Hello platforms we develop in section 2</b> 
    </div>
</section>

<!--What we offer-->
<section class="section">
    <div class="container">
        <b>Hello what we offer section 3</b>
    </div>
</section>


<!--Our team section-->
<section class="section">
    <div class="container">
        <b>hello our team section 4</b>
    </div>
</section>

<!--Our tech stack-->
<section class="section">
    <div class="container">
        <b>Hello tech stack</b>
    </div>
</section>


<!--Contact us section-->
<section class="section">
    <div class="container">
        <b>Hello contact</b>
    </div>
</section>