#landingPage{
    -webkit-background-size: 100%;
    -moz-background-size: cover ;
    -o-background-size: cover;
    background-size: 100%;
    background-position: center;
}

#mainhomediv{
    position: relative;
}

#backgroundImage{
    position: absolute;
}

#textoverlay{
    position: absolute;
    top: 50px;
    left: 100px;
}

#ourteamsection{
    position: absolute;
}



