<div id="mainhomediv">
  <div id="backgroundImage">
    <img src="/assets/teamimage.jpg" style="opacity: .95"/>
  </div>
  <div id="textoverlay" style="color: white; font-size: x-large; font-weight: bold;"> 
        <h1>
            <b style="font-size: 50px;">You deserve a great team!</b> 
        </h1>

        <!--Team profile-->
        <div class="box" id="ourteamsection" style="height: 500px; width: 1000px; opacity: 0.80;">
            <h2>
                <b>Our Team</b> 
            </h2>

            <!--Our cards here-->
            <div class="card">
                <div class="card-image">
                    <img src="https://bulma.io/images/placeholders/128x128.png"/>
                    <h1>Bonga Ngcobo (Co-founder)</h1>
                    <h1>Tech lead</h1>
                </div>
            </div>

            <!--More about our team-->
            <p>
                In order to archeive any goal you need a great team and that is what our team offers here at kb alpha,
                a team that will help find soltions to some of your technical problems. We ensure this by having a company culture 
                that is dedicated to doing it the best.
            </p>


        </div>
  </div>


     <!--Tech stack used at kb alpha-->
    <div class="hero-body is-primary">
        paragraph two
    </div>

</div>