<!--Landing page-->
<app-landingpagecomponent></app-landingpagecomponent>

<!--Platforms we develop in-->
<section class="section">
  <app-platformofferingcomponent></app-platformofferingcomponent>
</section>

<!--What we offer-->
<section class="section">
  <app-softwaredevservice></app-softwaredevservice>
</section>


<!--Our team section-->
<section class="section">
  <app-our-team></app-our-team>
</section>

<!--Our tech stack-->
<section class="section">
  <app-techstackcomponent></app-techstackcomponent>
</section>


<!--Contact us section-->
<section class="section">
  <app-contactus></app-contactus>
</section>
