<br>

<div id="boxWindow">
    <h1 class="title is-1 has-text-centered" >What does KB Alpha offer?</h1>

          <!--Row 1, with development items-->
          <div id="rowOne">
              <div class="columns">
                <!--Mobile dev-->
                <div class="column">
                    <div class="box" id="box-css">
                      <figure class="image is-128x128 is-centered">
                        <img  src="/assets/mobiledevIcon.png" alt="Mobile development"/>
                      </figure>

                      <br>

                        <h1 class="is-1 has-text-centered">Mobile development</h1>

                    </div>
                </div>


                <!--Web dev-->
                <div class="column">
                  <div class="box" id="box-css">
                    <figure class="image is-128x128">
                      <img src="/assets/webdevIcon.png" alt="Mobile development"/>
                    </figure>

                    <br>

                      <h1 class="is-1 has-text-centered">Web development</h1>

                  </div>
                </div>

                <!--iot dev-->
                <div class="column">
                  <div class="box" id="box-css">
                    <figure class="image is-128x128">
                      <img id="box-image" src="/assets/iotdevIcon.png" alt="Mobile development"/>
                    </figure>

                    <br>

                      <h1 class="is-1 has-text-centered">IOT development</h1>

                  </div>
                </div>
            </div>
          </div>

    <!--Check list of our coding standards-->
    <div id="rowTwo">

      <!--Value the company offers-->
        <div id=container>
            <!--icon-->
            <div>
                <img id="image" src="/assets/valueWeOffer.png"/>
                Reliable code
            </div>

            <br>

            <div>
              <img id="image" src="/assets/valueWeOffer.png"/>
              clean code
            </div>

            <br>

            <div>
              <img id="image" src="/assets/valueWeOffer.png"/>
              Well documented code
            </div>

        </div>
    </div>

</div>

